{
  "printWidth": 80,
  "trailingComma": "none",
  "singleQuote": true,
  "tabWidth": 2,
  "semi": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}
