/* Cursor vars if you wanna use css over css in js */

:root {
  --cursor-color: #fff;
}
html,
body {
  background-color: #2f2c2c;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

/* Demo Content */
a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  transition: 0.5s ease;
}

a:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.1);
}

section {
  line-height: 1.7;
  font-weight: 300;
}

h3 {
  font-size: 1.3em;
  margin: 2em 0 1em;
}

ul {
  margin: 2em 0 1em;
  padding-left: 1em;
}

ul li {
  padding-bottom: 1.25em;
  padding-left: 0;
}
